*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 103.05%;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: rgb(200, 71, 71); */
}


.container{
    border: 2px;
    /* background-color: rgb(121, 13, 13); */
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 40px 30px;

    grid-gap: 1px;
    
    grid-template-areas: 
    "hd"
    "main"
    "ft";

}

.box{
    background-color: white;
}

#headerCon{
    grid-area: hq;
}

#header{
    grid-area: hd;
}

#content{
    grid-area: main;
}

#footer{
    grid-area: ft;
}
