
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 103.05%;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

.container{
    border: 2px;
    background-color: white;
    height: 100%;
    width: 100%;
    
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 80px 1fr;
}
